/* common style  */ 
body {
    font-family: 'Open Sans', sans-serif;
}
.primary-btn {
    border: 0px;
    border-radius: 8px;
    background-color: #E55473;
    padding: 12px 25px;
    text-align: center;
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0px;
}

/* header part style */
header {
    background-color:rgba(229, 84, 115, 0.10);
}
.top-banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}
.top-banner-details {
    margin: 100px 0px 0px 150px;
}
.top-banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 10px;
}
.top-banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px;
}
.top-banner .top-banner-image {
    width: 600px;
    height: 650px;
    margin: 50px 150px 0px 100px;
}

/* flowers feature part  */
.flowers-feature {
    margin: 0px 150px 100px 150px;
    text-align: center;
}
.flowers-feature-title {
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 10px;
}
.flowers-feature-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
}
.flowers-feature-flowers-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.flower-and-name {
    margin: 0px 10px 0px 0px;
}
.featured-flower-image {
    width: 200px;
    height: 250px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    padding: 30px;
    margin-bottom: 0px;
}
.flower-name {
    margin-top: 5px;
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
}

/* service quality part style */
.service-quality-container {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    margin: 0px 150px 100px 150px;
}
.service-name {
    padding: 20px;
}

/* offer part style  */
.offer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    margin: 0px 0px 100px 0px;
    text-align: center;
}
.offer-details-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin: 0px 0px 10px 0px;
}
.offer-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 0px 0px 10px 0px;
}
.offer-image {
    width: 200px;
    height: 250px;
    margin: 20px 0px 20px 100px ;
}

/* instagram part added */
.instagram-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}
.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0px 0px 15px 0px;
}
.instagram-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.instagram-flower-image {
    width: 200px;
    height: 250px;
    margin-right: 5px;
}

/* payment method part style */
.payment-method {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(104, 102, 102, 0.2);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 100px 0px;
}
.payment-method-icon {
    margin: 0px 0px 5px 0px;
}
.payment-method-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 0px 0px 5px 0px;
}
.payment-method-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0px 0px 15px 0px;
}

/* question part style  */
.question-part {
    background-color:rgba(229, 84, 115, 0.10);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-bottom: 100px;
}
.question-part-title {
    text-align: center;
    margin: 0px 0px 10px 0px;
}
.question-part-description {
    text-align: center;
    margin-bottom: 10px;
}
/* subscribe form part style */

.subscribe-container {
    background-image: url(../Rectangle\ 9.png);
    margin: 0px 150px 100px 150px;
    padding: 50px;
}
.subscribe-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}
.subscribe-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0px 0px 15px 0px;
}
.input-form {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
}
.email-input-field {
    width: 500px;
    height: 40px;
}
/* footer part style */
footer {
    background-color:#111010;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-title {
    color: #E55473;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin: 0px 0px 10px 0px;
}
.footer-shop-word {
    color: #FFF;;
}
.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
}
.footer-autorship {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

